//- when help button is clicked, this dropdown menu appears
.menu
  a.foldr.link.item.helptab(data-tab="help-tab")
    i.icon.exchange
    | Help
  a.link.item(href="https://github.com/padagraph/hackfoldr-2.0-forkme",target="_blank")
    i.icon.github
    i.icon.forward.mail
    | HackFoldr source
