//- white label: if you want to show shortcut links for your community / organization, uncomment line 2, then there will ba a home button added to the very top of #sidebar (desktop mode)
.ui.dropdown.icon.item.shortcuts
  i.icons
    i.icon.comment.outline.large
    i.icon.tiny.alternate.share(style="left:13px; position:absolute")
  include shortcuts-menu
